@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-ExtraBold.woff") format("woff2"),
    url("../assets/fonts/OpenSans-ExtraBold.woff2") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'OpenSans', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
